<header>

  <h1>Tiny App</h1>

  <p><a href= "/urls/new"> Create New TinyURL</a></p>

</header>

<% if (user_id) { %>

  <form method="POST" action="/logout">

    <h4>Logged in as: <%= email %></h4>

     <button type = "submit" class = "btn btn-primary">Logout</button>

  </form>

<% } else { %>


  <a href="/login">Login</a> |
  <a href="/register">Register</a>

<% } %>


