<% if (email) { %>

  <h2>Logged in as: <%= email %></h2>

  <form method="POST" action="/logout">

     <button type = "submit" class = "btn btn-primary">Logout</button>


<% } else { %>

<form method="POST" action="/login">

  <a href="/login">Login</a> |
  <a href="/register">Register</a>

  <br>

</form>

<% } %>


