<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">

  <form method="POST" action="/urls/<%= shortURL %>/update">

      <h3>ShortURL: <b><%= shortURL %></b></h3>

      <input type = "text" name = "updated" placeholder = "<%= longURL %>" size = "50">
      <input value = "Update" type = "submit" >

  </form>

</body>
</html>



