<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>TinyApp</title>
<h1>TinyApp</h1>

  <a href="/login">Login</a> |
  <a href="/register">Register</a>

</head>
<body style="font-size:20px; padding:50px;">

  <form method="POST" action="/register">

    <h3>Create Account</h3>

    <h5>Email:</h5>
    <input type = "email" name = "email" size = "50"><br>

    <h5>Password:</h5>
    <input type = "password" name = "password" size = "50">

    <br>

    <button type="submit" class="btn btn-primary">Register</button>

  </form>