<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">

    <h3>My URLs</h3>
    <% for(var short in urls) { %>
      <li><b><%= short %></b> : <%= urls[short] %></li>
    <% }; %>

</body>
</html>


