<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body style="font-size:20px; padding:50px;">

  <% include partials/_header %>

    <h3>My URLs</h3>

    <% for(var shortURL in urls) { %>

    <form method="POST" action="/urls/<%= shortURL %>/delete">

        <%= shortURL %> → <%= urls[shortURL].longURL %>

        <a href="/urls/<%= shortURL %>"> Edit </a>

        <input value = "Delete 🗑" type = "submit" >

    </form>

    <% }; %>



</body>
</html>


